@tailwind base;
@tailwind components;
@tailwind utilities;


.testimonial-container {
  background: linear-gradient(175.54deg, #F9F0FF 25.81%, #E2F1FF 96.38%);
    height: 730.5px;
    clip-path: polygon(0 18% , 100% 0, 100% 85%, 0% 100%);
   
  }
  